<!-- **********************************************************************************************************************************************************
      CABECERA 
      *********************************************************************************************************************************************************** -->
      <!--cabecera-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <button mat-icon-button (click)="abrirMenuLateral()"><mat-icon>menu</mat-icon></button>   
        </div>
      <!--logo-->
      <a class="logo"><b>BETSHARE</b></a>
      <!--fin logo-->
      <a class="logout">Desconectarse</a>
  </header>
<!--fin cabecera-->
