<div class="container">
  <form class="form-login">
    <h2 class="form-login-heading">Iniciar sesión</h2>
    <input type="text" class="form-control" placeholder="Username" #username name="username">
    <input type="password" class="form-control" placeholder="Password" #password name="password">
    <button type="submit" (click)="logIn(username.value, password.value, $event)" class="btn btn-theme btn-block">Login</button>
    <hr>
    <div class="registration">
        ¿Todavía no tienes cuenta en BetShare?<br/>
        <a class="">
            Crear nueva cuenta de Usuario
        </a>
    </div>
  </form>
</div>
