/*Activación de la barra lateral izquierda*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: rgb(45, 45, 151);
    
}
.example-sidenav h5 {
	color: #f2f2f2;
	font-weight: 700;
}
.example-sidenav{
    padding-top:10px;
}

.example-sidenav ul li {
    position: relative;
}

.example-sidenav .sub-menu > .sub li  {
    padding-left: 0px;
}

.example-sidenav .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}	

.example-sidenav ul li a{
    color:rgba(255, 255, 255, 0.705);
}

.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(111, 111, 111, 0.50);
    position:fixed;
}
  
 
.example-sidenav {  
    background: rgb(45, 45, 151);
    width: 210px;
       
}
