/*Activación de la barra lateral izquierda*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: rgb(45, 45, 151);
    
}
#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 0px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}	

#sidebar ul li a{
    color:rgba(255, 255, 255, 0.705);
}