/* PAGINA DE REGISTRO */
.form-login {
	/*max-width: 330px;*/
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #68dff0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.registration {
	text-align: center;
}
/* BOTONES */

.btn-theme {
    color: #fff;
    background-color: #68dff0;
    border-color: #48bcb4;
  }
  .btn-theme:hover,
  .btn-theme:focus,
  .btn-theme:active,
  .btn-theme.active,
  .open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #48bcb4;
    border-color: #48bcb4;
  }